body{
    background-color: #262626;
    color: #f0f8ff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cell{
    color: #f0f8ff;
    width: 100px;
    height: 100px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 100px;
    font-size: 75px;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

#gameContainer{
    text-align: center;
}

#gameboard{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 310px;
    margin: auto;
}

#players{
    margin: 25px;
}

#header{
    display: flex;
    align-items: center;
}

button{
    margin: 5px;
}